packages
bin
obj
CustomMacros.v12.suo
*.csproj.user
CustomMacros/App_Browsers/
CustomMacros/App_Code/
CustomMacros/App_Data/
CustomMacros/App_Plugins
CustomMacros/App_Code/
CustomMacros/install/
CustomMacros/css/
CustomMacros/macroScripts/
CustomMacros/masterpages/
CustomMacros/media/
CustomMacros/scripts/
CustomMacros/umbraco/
CustomMacros/umbraco_client/
CustomMacros/usercontrols/
CustomMacros/Areas/Infrastructure/Services
